@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    /* background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)); */
    margin: 0;
    padding: 0;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    color: #070707;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

@layer utilities {
  .item-frame-top {
    @apply absolute top-0 left-0 w-full h-[24px] bg-gradient-to-b from-[#3f4f5e] to-transparent pointer-events-none;
  }

  .item-frame {
    @apply relative rounded-[10px] bg-[#2c2f34] border border-[#1e2024] 
  shadow-[inset_0_0_0_2px_rgb(101,119,130)] overflow-hidden;
  }

  .item-frame-container {
    @apply flex flex-col gap-2 bg-[#eeeeee] rounded-md w-full h-full shadow-[inset_0_0_0_2px_rgb(255,255,255)] p-[8px];
  }

  .item-frame-title {
    @apply absolute top-[8px] left-[12px] text-[14px] font-semibold text-[#e3ff3f] tracking-wider;
  }

  .item-button {
    @apply w-full text-white/90 text-start rounded 
  bg-gradient-to-t from-[#9aa3a8] to-[#a5afb5]
  border-[2px] border-[#c5cbcf] border-b-0 
  shadow-[0_0_0_1px_rgb(140,148,151)] px-4 py-2  
  p-0;
  }

  .item-button-active {
    @apply bg-gradient-to-t from-[#36b8d0] to-[#15a5d4]
  border-[2px] border-[#92d9e6] border-b-0
  shadow-[0_0_0_1px_rgb(63,119,137)];
  }
}

@layer components {
  .boss-table {
    @apply w-full grid grid-cols-4 items-center;
  }

  .boss-table-min-w {
    @apply min-w-[340px] xsm:min-w-[520px] sm:min-w-[640px];
  }

  .no-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scrollBar::-webkit-scrollbar {
    padding: 4px;
    width: 8px; /* 스크롤바의 너비 */
    height: 4px;
    opacity: 0;
  }

  .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.397); /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  .scrollBarController:hover .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); /* 스크롤바의 색상 */
  }

  .menu-item {
    @apply font-medium rounded-lg text-theme-sm;
  }
  .menu-item-active {
    @apply bg-brand-50 rounded-lg text-brand-500 dark:bg-brand-500/[0.12] dark:text-brand-400;
  }
  .menu-item-inactive {
    @apply rounded-lg hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
  }
  .menu-item-icon {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
  }
  .menu-item-icon-active {
    @apply text-brand-500 dark:text-brand-400;
  }
  .menu-item-icon-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }

  .menu-item-arrow {
    @apply relative;
  }
  .menu-item-arrow-active {
    @apply rotate-180 text-brand-500 dark:text-brand-400;
  }
  .menu-item-arrow-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }
}
