@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    /* background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)); */
    margin: 0;
    padding: 0;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    color: #070707;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

@layer utilities {
}
/* grid grid-cols-[3rem_6rem_4rem_auto] gap-1 xsm:grid-cols-[11rem_9rem_4rem_auto] sm:grid-cols-[11rem_18rem_4rem_auto] items-center
 */
@layer components {
  .boss-table {
    @apply w-full grid grid-cols-4 items-center;
  }

  .boss-table-min-w {
    @apply min-w-[340px] xsm:min-w-[520px] sm:min-w-[640px];
  }

  .virtual-text-area::after {
    position: absolute;
    content: '주관적인 쾌적함 기준입니다.';
    right: 12px;
    top: 12px;
    font-size: 12px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 (선택 사항) */
    font-style: italic; /* 텍스트 기울임 (선택 사항) */
  }

  .gem-virtual-text-area::after {
    position: absolute;
    content: '상위 90개의 결정석만 계산합니다.';
    left: 12px;
    top: 36px;
    font-size: 12px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 (선택 사항) */
    font-style: italic; /* 텍스트 기울임 (선택 사항) */
  }

  .gmQuest-text-area::after {
    position: absolute;
    content: '보스 클리어는 입력일 기준으로 계산합니다';
    right: 12px;
    top: 16px;
    font-size: 12px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 (선택 사항) */
    font-style: italic; /* 텍스트 기울임 (선택 사항) */
  }

  .no-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scrollBar::-webkit-scrollbar {
    padding: 4px;
    width: 8px; /* 스크롤바의 너비 */
    height: 4px;
    opacity: 0;
  }

  .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.397); /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  .scrollBarController:hover .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); /* 스크롤바의 색상 */
  }

  .menu-item {
    @apply font-medium rounded-lg text-theme-sm;
  }
  .menu-item-active {
    @apply bg-brand-50 text-brand-500 dark:bg-brand-500/[0.12] dark:text-brand-400;
  }
  .menu-item-inactive {
    @apply rounded-lg hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
  }
  .menu-item-icon {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
  }
  .menu-item-icon-active {
    @apply text-brand-500 dark:text-brand-400;
  }
  .menu-item-icon-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }

  .menu-item-arrow {
    @apply relative;
  }
  .menu-item-arrow-active {
    @apply rotate-180 text-brand-500 dark:text-brand-400;
  }
  .menu-item-arrow-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }
}
