@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    color: #070707;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

@layer components {
  .boss-table {
    @apply w-full grid grid-cols-4 items-center;
  }

  .boss-table-min-w {
    @apply min-w-[340px] xsm:min-w-[520px] sm:min-w-[640px];
  }

  .no-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scrollBar::-webkit-scrollbar {
    padding: 4px;
    width: 8px; /* 스크롤바의 너비 */
    height: 4px;
    opacity: 0;
  }

  .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.397); /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  .scrollBarController:hover .scrollBar::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); /* 스크롤바의 색상 */
  }

  .menu-item {
    @apply font-medium rounded-lg text-theme-sm;
  }

  .menu-item-active {
    @apply bg-brand-50 rounded-lg text-brand-500 dark:bg-brand-500/[0.12] dark:text-brand-400;
  }

  .menu-item-inactive {
    @apply rounded-lg hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
  }

  .menu-item-icon {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
  }

  .menu-item-icon-active {
    @apply text-brand-500 dark:text-brand-400;
  }

  .menu-item-icon-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }

  .menu-item-arrow {
    @apply relative;
  }

  .menu-item-arrow-active {
    @apply rotate-180 text-brand-500 dark:text-brand-400;
  }

  .menu-item-arrow-inactive {
    @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
  }
}
